future==1.0.0
geographiclib
geopy
gitdb
GitPython
idna
ipykernel==6.22.0
ipython==8.12.0
jedi==0.18.2
Jinja2
jsonschema
jsonschema-specifications
jupyter_client==8.1.0
jupyter_core==5.3.0
markdown-it-py
MarkupSafe
matplotlib-inline==0.1.6
mdurl
mkl-service==2.4.0
mkl_fft
mkl_random
nest-asyncio==1.5.6
numexpr
numpy
packaging
pandas
parso==0.8.3
pickleshare==0.7.5
pillow
platformdirs==3.2.0
prompt-toolkit==3.0.38
protobuf==4.25.3
psutil==5.9.4
pure-eval==0.2.2
pyarrow
pycparser
pydeck
Pygments==2.15.0
PySocks
python-dateutil
pytz
pywin32==306
PyYAML
pyzmq==25.0.2
ratelim==0.1.6
referencing
requests
rich
rpds-py
six
smmap
stack-data==0.6.2
streamlit
streamlit-js-eval==0.1.7
streamlit-folium==0.24.0
tenacity
toml
toolz
tornado==6.2
traitlets==5.9.0
typing_extensions
tzdata
urllib3
watchdog
wcwidth==0.2.6
win-inet-pton